@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  @media (min-width: 425px) {
    .sm\:grid-cols-3 {
      @apply grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
} */

body {
  background-color: #e0e5ec;
}
.outer-morphic-btn-before {
  border-radius: 50px;
  background: linear-gradient(145deg, #e0e5ec, #c2cbd9);
  box-shadow: 2px 2px 4px #a3b1c6, -2px -2px 4px #ffffff;
}
.outer-morphic-btn-after {
  border-radius: 50px;
  background: linear-gradient(145deg, #c2cbd9, #e0e5ec);
  box-shadow: 2px 2px 4px #a3b1c6, -2px -2px 4px #ffffff;
}
.morphic-card-flat {
  border-radius: 1rem;
  background: #e0e5ec;
  box-shadow: 2px 2px 6px #bec3c9, -2px -2px 6px #ffffff;
}
.morphic-card-inner {
  border-radius: 1rem;
  background: #e0e5ec;
  box-shadow: inset 2px 2px 6px #bec3c9, inset -2px -2px 6px #ffffff;
}
.c-round {
  box-shadow: 0 0 6px #a3b1c6;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
@media only screen and (max-width: 600px) {
  .c-round {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}
/* 
c1: #FFFFFF
c2: #E0E5EC
c3: #C2CBD9
c4: #A3B1C6
*/
