.outer-morphic-btn-before {
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}
.outer-morphic-btn-after {
  border-radius: 50px;
  background: linear-gradient(145deg, #caced4, #f0f5fd);
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}
.morphic-card-flat {
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}
.morphic-card-inner {
  border-radius: 50px;
  background: #e0e5ec;
  box-shadow: inset 20px 20px 60px #bec3c9, inset -20px -20px 60px #ffffff;
}
